<div class="row">
  <div class="col-md-4">
    <div *ngIf="result.thumb; else defaultThumb">
      <img class="img-thumbnail" src="{{result.thumb}}">
    </div>
  <ng-template #defaultThumb>
    <img class="img-thumbnail" src="https://s.discogs.com/images/default-release-cd.png">
  </ng-template>
  </div>
  <div class="col-md-6">
    <div class="row">
      <b>{{result.title}}</b>
    </div>
    <div class="row">
      <i>{{result.label}} © {{result.year}}</i>
    </div>
    <div class="row">
      {{result.genre}}
    </div>
  </div>
</div>
