<md-radio-group class="radio-group">
  <div *ngFor="let searchOption of searchOptions; let first = first;">
    <md-radio-button
      value="searchOption" class="radio-button">{{searchOption}}
    </md-radio-button>
  </div>

</md-radio-group>
<md-input-container>
  <input mdInput type="text" [formControl]="queryCrtl" [mdAutocomplete]="auto">
  <md-autocomplete #auto="mdAutocomplete">
    <md-option *ngFor="let query of states" [value]="query">
      {{query}}
    </md-option>
  </md-autocomplete>
</md-input-container>
