<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <form [formGroup]="searchFormGroup">
        <md-radio-group class="radio-group" formControlName="searchOptionCtrl" [(ngModel)]="checkedSearchOption">
          <div *ngFor="let searchOption of searchOptions">
            <md-radio-button [value]=searchOption.option class="radio-button">
              {{searchOption.option}}
            </md-radio-button>
          </div>
        </md-radio-group>

        <md-input-container>
          <input mdInput formControlName="queryCtrl" [mdAutocomplete]="auto" class="">
        </md-input-container>
        <md-autocomplete #auto="mdAutocomplete">
          <md-option *ngFor="let query of filteredQueries | async" [value]="query">
            {{query}}
          </md-option>
        </md-autocomplete>
      </form>
        <ng-container *ngIf="searchResults">
          <div class="panel-group" id="accordion">
            <ng-container *ngFor="let result of searchResults.results; let i = index">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{i}}">
                      {{result.title}}</a>
                    <a href="/" class="pull-right">+</a>
                  </h4>
                </div>
                <div id="collapse{{i}}" class="panel-collapse collapse">
                  <div class="panel-body">
                    <app-album-details [result]="result"></app-album-details>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </ng-container>
    </div>
  </div>
</div>
